<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Contributions</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="static/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

  <script>
  document.addEventListener('DOMContentLoaded', function () {
    const selectAllCheckbox = document.getElementById('selectAllCheckbox');
    const memberCheckboxes = document.querySelectorAll('.memberCheckbox');
    const selectedMembersInput = document.getElementById('selectedMembersInput');

    selectAllCheckbox.addEventListener('change', function () {
      const isChecked = this.checked;
      memberCheckboxes.forEach(function (checkbox) {
        checkbox.checked = isChecked;
      });
      updateSelectedMembers();
    });

    memberCheckboxes.forEach(function (checkbox) {
      checkbox.addEventListener('change', updateSelectedMembers);
    });

    function updateSelectedMembers() {
    const selectedMembers = Array.from(memberCheckboxes)
    .filter(checkbox => checkbox.checked)
    .map(checkbox => checkbox.parentElement.nextElementSibling.nextElementSibling.textContent.trim());

  selectedMembersInput.value = JSON.stringify(selectedMembers);
}
  });
</script>


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{{ url_for('login') }}" class="logo d-flex align-items-center">
        <img src="static/assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">New Contribution</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="static/assets/img/favicon.png" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ name }}</span>
          </a><!-- End Profile Image Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ name }}</h6>
              <span> Admin </span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{url_for('login')}}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('admin_dashboard')}}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse">
          <i class="bi bi-journal-text"></i><span>Administration</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{{ url_for('register_members') }}">
              <i class="bi bi-circle"></i><span>Register Members</span>
            </a>
          </li>
          <li>
            <a href="{{ url_for('edit_member_details') }}">
              <i class="bi bi-circle"></i><span>Edit Member Record</span>
            </a>
          </li>
          <li>
            <a href="{{ url_for('add_to_inventory') }}">
              <i class="bi bi-circle"></i><span>Add To Inventory</span>
            </a>
          </li>
          <li>
            <a href="{{ url_for('edit_inventory') }}">
              <i class="bi bi-circle"></i><span>Edit Inventory</span>
            </a>
          </li>
          <li>
            <a href="{{ url_for('members_details') }}">
              <i class="bi bi-circle"></i><span>Members Summary</span>
            </a>
          </li>
          <li>
            <a href="{{ url_for('transactions') }}">
              <i class="bi bi-circle"></i><span>Transactions</span>
            </a>
          </li>
          <li>
            <a href="{{ url_for('generate_schedule') }}">
              <i class="bi bi-circle"></i><span>Generate Monthly Schedule</span>
            </a>
          </li>

          <li>
            <a href="{{ url_for('dividend') }}">
              <i class="bi bi-circle"></i><span>Share Dividend</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->

<!--      <li class="nav-item">-->
<!--        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">-->
<!--          <i class="bi bi-layout-text-window-reverse"></i><span>Tables</span><i class="bi bi-chevron-down ms-auto"></i>-->
<!--        </a>-->
<!--        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">-->
<!--          <li>-->
<!--            <a href="tables-general.html">-->
<!--              <i class="bi bi-circle"></i><span>General Tables</span>-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </li>&lt;!&ndash; End Tables Nav &ndash;&gt;-->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{url_for('login')}}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Log Out</span>
        </a>
      </li><!-- End Login Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->
 <main id="main" class="main">

    <div class="pagetitle">
      <h1>Create A New Contribution</h1>
      <h6 style="color:red">Date: {{ date }}</h6>
       {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class="flash-messages">
            {% for text in messages %}
              <li><span style="color:green"><i>{{ text }}</i></span></li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ url_for('admin_dashboard')}}">Home</a></li>
          <li class="breadcrumb-item">New Contribution</li>
          <li class="breadcrumb-item"><a href="{{ url_for('delete_contribution')}}">Delete Contribution</a></li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

              <!-- General Form Elements -->
              <form method="POST" action="{{ url_for('process_contribution') }}" enctype="multipart/form-data">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">New Contribution Details</h5>

                      <div class="row mb-3">
                        <div class="col-sm-6">
                          <input type="text" class="form-control" name="name" id="inputText" value="Contribution Name" required>
                        </div>

                        <div class="col-sm-6">
                          <input type="text" class="form-control" name="amount" id="contribution_amount" value="Contribution Amount" required>
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label for="startDate" class="col-sm-2 col-form-label">Start Date</label>
                        <div class="col-sm-4">
                          <input type="date" class="form-control" name="start" id="startDate" required>
                        </div>

                        <label for="inputDate" class="col-sm-2 col-form-label">End Date</label>
                        <div class="col-sm-4">
                          <input type="date" class="form-control" name="dob" id="inputDate" required>
                        </div>
                      </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Check To Select Members</h5>
                    <input type="checkbox" id="selectAllCheckbox">
                      <label for="selectAllCheckbox">Select All</label>

                    <!-- Table with stripped rows -->
                    <table class="table table-striped table-hover table-sm">
                      <thead>
                        <tr>
                          <th scope="col">
                          </th>
                          <th scope="col">Staff ID</th>
                          <th scope="col">Name</th>
                          <th scope="col">Staff Category</th>
                          <th scope="col">Email</th>

                        </tr>
                      </thead>
                        <tbody>
                          {% for row in data %}
                            <tr>
                              <td>
                                <input type="checkbox" class="memberCheckbox" id="checkbox{{ loop.index }}">
                                <label for="checkbox{{ loop.index }}"></label>
                              </td>
                              <th scope="row">{{ row[0] }}</th>
                              <td>{{ row[1] }}</td>
                              <td>{{ row[2] }}</td>
                              <td>{{ row[3] }}</td>
                              <td>{{ row[4] }}</td>
                            </tr>
                          {% endfor %}
                        </tbody>
                    </table>
                    <!-- End Table with stripped rows -->

                  </div>
                </div>

                <input type="hidden" name="selectedMembers" id="selectedMembersInput">

                <div class="row mb-3">
                  <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">Submit Form</button>
                  </div>
                </div>

              </form><!-- End General Form Elements -->

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="static/assets/vendor/echarts/echarts.min.js"></script>
  <script src="static/assets/vendor/quill/quill.min.js"></script>
  <script src="static/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="static/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>