<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Shares Summary</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="static/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="print" href="static/assets/css/print.css">


  <script>
        function printPage() {
            window.print();
        }
    </script>

</head>

<body>
  <main id="col-lg-12" class="col-lg-12" >

    <div class="pagetitle">

      <nav>
        <ol class="breadcrumb">
          <li class="no-print breadcrumb-item"><a href="{{ url_for('admin_dashboard')}}">Home</a></li>
          <li class="no-print breadcrumb-item">Dividend Summary</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <div class="pagetitle" align="center">
                <h1 class="card-title" ><b>STSS Staff Multipurpose Co-operative Society.</b></h1>
                <h2 class="card-title"><b>Dividend Schedule Summary For <span style="color:red"><b>{{ date }}</b></span>.</b></h2>
              </div>

              <!-- Table with stripped rows -->
              <table class="table table-striped table-hover table-sm">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Total Shares Units</th>
                    <th scope="col">Total Dividend</th>
                    <th scope="col">Date</th>
                  </tr>
                </thead>
                {% for row in data %}
                  <tbody>
                    <tr>
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[5] }}</td>
                    </tr>
                  </tbody>

                {% endfor %}
              </table>
              <!-- End Table with stripped rows -->
              <h3 class="card-title" ><b>Total Units = <span style="color:red"><b>{{ grand[1] }}</b></span></b></h3>
              <h3 class="card-title" ><b>Total Dividend = <span style="color:red"><b>{{ grand[0] }}</b></span></b></h3>
              <h5 class="card-title" align="center">SIGN: _______________</h5>
              <form>
                <div class="text-center">
                  <button type="submit" class="no-print btn btn-warning" name="generate_schedule" onclick="printPage()">Print Schedule</button>
                </div>
              </form>

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="static/assets/vendor/echarts/echarts.min.js"></script>
  <script src="static/assets/vendor/quill/quill.min.js"></script>
  <script src="static/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="static/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>