<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Members Profile</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/assets/img/favicon.png" rel="icon">
  <link href="static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/assets/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="static/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="static/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="static/assets/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
   <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{{ url_for('login') }}" class="logo d-flex align-items-center">
        <img src="static/assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">Profile</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="static/assets/img/favicon.png" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">{{ name }}</span>
          </a><!-- End Profile Image Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>{{ name }}</h6>
              <span> Admin </span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{url_for('login')}}">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ url_for('admin_dashboard')}}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse">
          <i class="bi bi-journal-text"></i><span>Administration</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{{ url_for('register_members') }}">
              <i class="bi bi-circle"></i><span>Register Members</span>
            </a>
          </li>
          <li>
            <a href="{{ url_for('edit_member_details') }}">
              <i class="bi bi-circle"></i><span>Edit Member Record</span>
            </a>
          </li>
          <li>
            <a href="{{ url_for('add_to_inventory') }}">
              <i class="bi bi-circle"></i><span>Add To Inventory</span>
            </a>
          </li>
          <li>
            <a href="{{ url_for('edit_inventory') }}">
              <i class="bi bi-circle"></i><span>Edit Inventory</span>
            </a>
          </li>
          <li>
            <a href="{{ url_for('members_details') }}">
              <i class="bi bi-circle"></i><span>Members Summary</span>
            </a>
          </li>
          <li>
            <a href="{{ url_for('transactions') }}">
              <i class="bi bi-circle"></i><span>Transactions</span>
            </a>
          </li>

          <li>
            <a href="{{ url_for('contribution') }}">
              <i class="bi bi-circle"></i><span>New Contribution</span>
            </a>
          </li>

          <li>
            <a href="{{ url_for('generate_schedule') }}">
              <i class="bi bi-circle"></i><span>Generate Monthly Schedule</span>
            </a>
          </li>

          <li>
            <a href="{{ url_for('dividend') }}">
              <i class="bi bi-circle"></i><span>Share Dividend</span>
            </a>
          </li>
        </ul>
      </li><!-- End Forms Nav -->

<!--      <li class="nav-item">-->
<!--        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">-->
<!--          <i class="bi bi-layout-text-window-reverse"></i><span>Tables</span><i class="bi bi-chevron-down ms-auto"></i>-->
<!--        </a>-->
<!--        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">-->
<!--          <li>-->
<!--            <a href="tables-general.html">-->
<!--              <i class="bi bi-circle"></i><span>General Tables</span>-->
<!--            </a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </li>&lt;!&ndash; End Tables Nav &ndash;&gt;-->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{url_for('login')}}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Log Out</span>
        </a>
      </li><!-- End Login Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Member's Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{url_for('admin_dashboard')}}">Home</a></li>
          <li class="breadcrumb-item">{{ user_name }}</li>

        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-1 d-flex flex-column align-items-center">
              <img src="{{ url_for('static', filename='uploads/' + passport) }}" alt="Profile" style="width:200px; height:auto;">
              <h5>{{ user_name }}</h5>
            </div>
            <div class="card-body profile-card pt-4 d-flex flex-column ">
              <h6 style="color:darkblue"><b>Staff ID:</b> {{ data[0] }}</h6>
              <h6 style="color:darkblue"><b>Email:</b> {{ data[2] }} </h6>
              <h6 style="color:darkblue"><b>Category:</b> {{ data[3] }} Staff </h6>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-6 label ">Full Name</div>
                    <div class="col-lg-9 col-md-6">{{ user_name }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-6 label">Monthly Contribution</div>
                    <div class="col-lg-9 col-md-6">{{ data[7] }}0</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-6 label">Bank Name</div>
                    <div class="col-lg-9 col-md-6">{{ data[8] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-6 label">Account Name</div>
                    <div class="col-lg-9 col-md-6">{{ data[10] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-6 label">Account Number</div>
                    <div class="col-lg-9 col-md-6">{{ data[9] }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-6 label">Current Balance</div>
                    <div class="col-lg-9 col-md-6" style="color:green">{{ data[11] }}0</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-6 label">Total Loan Collected</div>
                    <div class="col-lg-9 col-md-6" style="color:red">{{ data[12] }}0</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-6 label">Total Credit Collected</div>
                    <div class="col-lg-9 col-md-6" style="color:red">{{ data[13] }}0</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-6 label">Total Debt</div>
                    <div class="col-lg-9 col-md-6" style="color:red">{{ data[14] }}0</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-6 label">Monthly Deduction</div>
                    <div class="col-lg-9 col-md-6" style="color:red">{{ data[17] }}0</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-6 label">Other Contribution</div>
                    <div class="col-lg-9 col-md-6" style="color:red">{{ data[15] }}0</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-6 label">Frozen Amount</div>
                    <div class="col-lg-9 col-md-6" style="color:red">{{ data[16] }}0</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-6 label">Share Unit</div>
                    <div class="col-lg-9 col-md-6" style="color:red">{{ shares }}</div>
                  </div>

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

 </main><!-- End #main -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/assets/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/assets/vendor/chart.js/chart.umd.js"></script>
  <script src="static/assets/vendor/echarts/echarts.min.js"></script>
  <script src="static/assets/vendor/quill/quill.min.js"></script>
  <script src="static/assets/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="static/assets/vendor/tinymce/tinymce.min.js"></script>
  <script src="static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/assets/js/main.js"></script>

</body>

</html>